@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

/* modal */
.modal-opacity {
  position: fixed;
  background-color: #33383b;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

.modal-text {
  margin-top: 30px;
  font-size: 15px;
  width: 60%;
}

.modal-flex .modal-text {
  width: 30%;
}

.modal-block h1 {
  color: #6667ab;
  margin-bottom: 10px;
  font-size: 40px;
}

.modal-text h2 {
  background-color: #6667ab;
  color: #fff;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  margin-bottom: 10px;
  font-weight: 600;
}

.modal-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.modal-image {
  width: 30%;
  height: 220px;
  object-fit: cover;
  border-radius: 7px;
  margin-right: 20px;
}

.modal-block {
  width: 70%;
  height: 600px;
  top: 30px;
  left: 0;
  right: 0;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  position: fixed;
  z-index: 1000;
  border-radius: 10px;
  overflow: auto;
}

.close-button {
  position: absolute;
  background-color: #6a5acd;
  top: 5px;
  right: 5px;
  display: block;
  width: 25px;
  height: 25px;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  clip-path: polygon(
    20% 0%,
    0% 20%,
    30% 50%,
    0% 80%,
    20% 100%,
    50% 70%,
    80% 100%,
    100% 80%,
    70% 50%,
    100% 20%,
    80% 0%,
    50% 30%
  );
}
/* header */
.header {
  width: 100%;
  background-color: #cccae3;
  box-shadow: 3px 0 7px rgba(0, 0, 0, 0.3);
}

.header-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 10px;
}

.header-logo a {
  text-decoration: none;
}

.header-list {
  display: flex;
  flex-wrap: wrap;
}

.header-item {
  margin-right: 40px;
  list-style: none;
}

.header-link {
  width: auto;
  text-decoration: none;
  display: block;
  line-height: 60px;
  margin-right: 40px;
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: bold;
  color: #fff;
  transition: 0.3s linear;
  text-shadow: #33383b 0px 2px 3px;
}

.header-link:last-child {
  margin-right: 0;
}

/* main content */
.main {
  margin: auto;
  width: 100%;
}

figcaption {
  text-align: center;
  padding: 5px;
  color: #6a5acd;
  font-weight: bold;
}

.article {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 100%;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  cursor: pointer;
}

.image {
  object-fit: cover;
  width: 100%;
  height: 280px;
  overflow: hidden;
  border-radius: 5px;
}

.image img:hover {
  transform: scale(1.1, 1.1);
  transition-duration: 1s;
}

.image-block {
  width: 32%;
  margin: 20px;
}

.text-block {
  width: 60%;
  margin: 15px;
}

/* footer */
.footer {
  width: 100%;
  background-color: #cccae3;
  box-shadow: 3px 0 7px rgba(0, 0, 0, 0.3);
}

.footer-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-block {
  margin: 15px;
  width: 40%;
  height: 150px;
}
.footer-block h3 {
  font-weight: 600;
}

.footer-icons a {
  display: inline-block;
  width: 38px;
  text-align: center;
  cursor: pointer;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15), inset 0 0 50px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 2px;
}

/* social icons */
.fa {
  font-size: 32px;
}

.twitter a {
  background: #00aced;
  color: #fff;
}

.vk a {
  background: #5d84ae;
  color: #fff;
}

.telegram a {
  background: #2ca5e0;
  color: #fff;
}

.instagram a {
  background: radial-gradient(
      circle farthest-corner at 35% 90%,
      #fec564,
      transparent 50%
    ),
    radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
    radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
    radial-gradient(
      ellipse farthest-corner at 20% -50%,
      #5258cf,
      transparent 50%
    ),
    radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
    radial-gradient(
      ellipse farthest-corner at 60% -20%,
      #893dc2,
      transparent 50%
    ),
    radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
    linear-gradient(
      #6559ca,
      #bc318f 30%,
      #e33f5f 50%,
      #f77638 70%,
      #fec66d 100%
    );
  color: #fff;
}

.twitter a:hover,
.instagram a:hover,
.vk a:hover,
.telegram a:hover {
  transform: scale(1.1);
}

/* tablets */
@media (max-width: 1024px) {
  .text-block {
    min-width: 90%;
  }

  .footer-block {
    width: 90%;
  }

  .article .image-block {
    width: 80%;
  }

  .article .image-block .image {
    height: 25em;
  }

  .image-block {
    width: 40%;
  }

  .footer-block {
    height: auto;
  }

  .img {
    width: 100%;
    height: 300px;
  }

  .article {
    flex-direction: column;
  }

  .footer-wrapper {
    flex-direction: column;
  }

  .modal-block {
    width: 80%;
  }

  .modal-image {
    width: 100%;
    height: 350px;
    margin: 0;
  }

  .modal-text,
  .modal-flex .modal-text {
    width: 100%;
  }

  .modal-flex {
    flex-direction: column;
  }
}

@media (max-width: 840px) {
  .menu {
    float: none;
  }

  .image-block {
    width: 60%;
  }

  .image img {
    width: 100%;
    height: 400px;
  }

  .article .image-block {
    width: 90%;
  }

  .article .image-block .image {
    height: 25em;
  }

  .page {
    font-size: 17px;
  }

  .modal-block h1 {
    font-size: 30px;
  }
}

/* smartphones */
@media (max-width: 500px) {
  .image-block {
    width: 90%;
    height: 19rem;
  }

  .img {
    width: 100%;
    height: 18rem;
  }

  .article .image-block .image {
    height: 18em;
  }

  .page {
    font-size: 16px;
  }

  .modal-block {
    width: 90%;
    height: 36em;
  }

  .modal-image {
    width: 100%;
    height: 15rem;
    margin: 0;
  }

  .modal-block h1 {
    font-size: 25px;
  }

  .modal-text,
  .modal-flex .modal-text {
    width: 100%;
  }

  .modal-flex {
    flex-direction: column;
  }
}

/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v25-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/montserrat-v25-latin_cyrillic-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/montserrat-v25-latin_cyrillic-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/montserrat-v25-latin_cyrillic-regular.woff") format("woff"),
    /* Modern Browsers */
      url("../fonts/montserrat-v25-latin_cyrillic-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/montserrat-v25-latin_cyrillic-regular.svg#Montserrat")
      format("svg");
  /* Legacy iOS */
}

/* montserrat-600 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/montserrat-v25-latin_cyrillic-600.eot");
  /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/montserrat-v25-latin_cyrillic-600.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/montserrat-v25-latin_cyrillic-600.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/montserrat-v25-latin_cyrillic-600.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/montserrat-v25-latin_cyrillic-600.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/montserrat-v25-latin_cyrillic-600.svg#Montserrat")
      format("svg");
  /* Legacy iOS */
}

/* montserrat-700 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat-v25-latin_cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/montserrat-v25-latin_cyrillic-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/montserrat-v25-latin_cyrillic-700.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/montserrat-v25-latin_cyrillic-700.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/montserrat-v25-latin_cyrillic-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/montserrat-v25-latin_cyrillic-700.svg#Montserrat")
      format("svg");
  /* Legacy iOS */
}

.copyright {
  margin: 10px;
  font-size: 0.75em;
}

.page {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  font-size: 18px;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

html {
  box-sizing: border-box;
}

* {
  margin: 0;
  box-sizing: inherit;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
}
