@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@font-face {
	font-family: 'Montserrat'; 
	src: url("fonts/Montserrat-VariableFont.ttf"); 
}

*{
  margin: 0;
  font-family: "Montserrat";
}

.page
{
  background: #eee;
  display: flex;
  flex-wrap: wrap;
  font-size: 19px;
}
.modal-opacity{
  position: fixed;
  background-color: #33383b;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  visibility:hidden;
}
.modal-block h1{
  color: #6667ab;
  margin-bottom:10px;
  font-size: 40px;
}
.modal-footer h2, .modal-text h2{
  
  background-color: #6667ab;
  color: #fff;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
}

.modal-text, .modal-footer{
  height: 200px;
  margin-top: 30px;
  font-size: 15px;
}
.modal-text{
  width: 60%;
}
.modal-footer{
  width: 25%;
}
.modal-flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.modal-image{
  width: 30%;
  height: 220px;
  object-fit: cover;
  border-radius: 7px;
  margin-right: 20px;
}
.modal-block{
  width: 70%;
  height: 600px;
  top:30px;
  left: 0;
  right: 0;
  background-color: #fff;
  visibility:hidden;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  position: fixed;
  z-index: 1000;
  border-radius: 10px;
}


.close-button{
  position: absolute;
  font-size: 110%;
  top: 0;
  color: #660000;
  right: 10px;
  display: block;
  width: 24px;
  height: 24px;
  border: none;
  background: transparent;
  cursor: pointer;
}
.container {
  width: 100%;
  max-width: 1200px;
  background-color:white;
  margin: 0 auto 10px auto;
}

.row {
  display: flex;
  flex-wrap: nowrap;
}

.col {
  width: 100%;
  padding-right: 0 15px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li a {
  display: block;
  width: 60px;
}


figcaption{
  text-align: center;
  padding:5px;
  color: #6a5acd;
  font-weight: bold;
}


.col__article {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
}
.col_footer{
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #4169e1; */
}

.flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image img{
  width: 100%; 
  height: 250px;
  object-fit: cover;
  cursor: pointer;
}
.image{
  object-fit: cover;
  width: 100%;
  height: 250px;
  overflow: hidden;
  border-radius: 5px;
}
.image img:hover{
  transform: scale(1.1, 1.1);
  transition-duration: 1s;
}
.image-block{

  width: 30%;
  max-height: 300px;
  margin: 15px;
  
}
.text-block{
  background-color:#fff;
  width: 45%;
  height: 250px;
  margin: 15px;;
}
.footer-block{
  margin: 15px;
  width: 30%;
  height: 150px;
}

.footer-icons a {
  display: inline-block;
  min-width: 35px;
  min-height: 35px;
  text-align: center;
  cursor: pointer;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.15), inset 0 0 50px rgba(0,0,0,0.1);
  margin: 10px;
  padding: 3px;
}

.footer,.top-menu{
  background-color: #cccae3;
}


.twitter a {background: #00aced; color: #fff;}
.instagram a {background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%); color: #fff;}
.vk a {background: #5d84ae; color: #fff;}
.telegram a {background: #2CA5E0; color: #fff;}

.twitter a:hover,.instagram a:hover,.vk a:hover,.telegram a:hover  {transform: scale(1.1);}

.top-menu {
  box-shadow: 3px 0 7px rgba(0,0,0,.3);
  padding: 20px;
}
.fa{
  font-size: 32px;
}
.navbar-logo {
  display: inline-block;
  text-decoration: none;

}
.menu-main {
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;
}
.menu-main li {
  display: inline-block;
}
.menu-main a {
  text-decoration: none;
  display: block;
  line-height: 61px;
  padding-left: 20px;
  font-size: 18px;
  letter-spacing: 2px;
  font-family: 'Arimo', sans-serif;
  font-weight: bold;
  color: #fff;
  transition:.3s linear;
  text-shadow: #33383b 2px 2px 5px;
}

/* планшеты */
@media (max-width: 1024px) {
.menu-main {
  float: none;
  padding-top: 20px;
}
.text-block{
  min-width: 90%;
}
.footer-block{
  width: 90%;
}
.image-block{
  width: 40%;
  max-height: 350px;
}
.img{
  width: 100%;
  height: 300px;
}
.col__article{
  flex-direction: column;
}
.col_footer{
  flex-direction: column;
}
}

@media (max-width: 840px) {

  .image-block{
    width: 60%;
    max-height: 400px;
  }
  .image img{
    width: 100%; 
    height: 400px;
  }
  .page
  {
    font-size: 16px;
  }
}

/* смартфоны */
@media (max-width: 500px) {

  .image-block{
    width: 90%;
    max-height: 350px;
  }
  .img{
    width: 100%;
    height: 300px;
  }
  .page
{
  font-size: 14px;
}
.modal-block{
  overflow: auto;
  width: 80%;
}
.modal-image{
  width: 100%;
  margin: 0;
}
.modal-block h1{
  font-size: 25px;
}
.modal-text,.modal-footer{
  width: 100%;
}
.modal-flex{
  flex-direction: column;
}
}


/* @media (min-width: 960px) {
  .col{
    float: none;
  }
  .col__aside {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
} */